<!DOCTYPE html>
<html>
  <head>
   <nav>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'プロフィール変更', edit_user_registration_path %> |
        <%= link_to "ログアウト", sign_out_path %>
      <% else %>
        <%= link_to "新規会員登録", new_user_registration_path %> |
        <%= link_to "ユーザーログイン", new_user_session_path %>|
        <%= link_to "管理者ログイン", new_admin_user_session_path %>
      <% end %>
    </nav>

      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>

    <title>KadaiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
