<div class="card col-sm-5 mx-auto  mt-5  bg-light">
  <div class="card-body">
    <h4 class="card-title mt-3">入力情報の確認</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p><%= f.label :name %>：<%= @user.name %></p>
      <p><%= f.label :email %>：<%= @user.email %></p>
      <p><%= f.label :password %>：<%= @password %></p>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :password  %>
      <%= f.submit "修正する", name: :back %>
      <%= f.submit "登録する" %>
    <% end %>
  </div>
</div>
